﻿body {
    padding-top: 50px;
    background-color: #f4f4f4;
}

img {
    width: 80px !important;
}

.list-group-item {
    padding-left: 0;
    padding-right: 5px;
    background-color: #f4f4f4;
}

.distance {
    color: #226baa;
}

h5 {
    color: #2c882c;
    font-weight: bold;
}
